[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
matplotlib = "*"

[packages]
numpy = "*"
pytesseract = "*"
django = "*"
djangorestframework = "*"
request = "*"
requests = "*"
baidu-aip = "*"
uwsgi = "*"
pyzbar = "*"
django-crontab = "*"
apscheduler = "*"
aircv = "*"
opencv-python = "==3.4.2.16"
opencv-contrib-python = "==3.4.2.16"

[requires]
python_version = "3.6"
