[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
pytesseract = "*"
django = "*"
djangorestframework = "*"
request = "*"
requests = "*"
baidu-aip = "*"
uwsgi = "*"
pyzbar = "*"
django-crontab = "*"
apscheduler = "*"
aircv = "*"

[requires]
python_version = "3.7"
