[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
pytesseract = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
